.skill-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 6px;
  }
  .skill {
    width: 100%;
    display: flex;
    .element {
      border-right: 4px solid black;
      background-color: #444;
      width: 20%;
      height: 3px;

      &.active {
        background-color: white;
      }
    }
  }
}
